{% extends 'base.html' %}

{% block title %}博客首页{% endblock %}

{% block main %}
    <h1>博客列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django基础知识</a>
                </div>
                <div class="card-body" style="height: 150px">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'avator.jpg' %}" class="rounded-circle" style="width:30px;height: 30px">
                        知了课堂
                    </div>
                    <div>发布时间 2024-07-29</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django零基础到项目实战</a>
                </div>
                <div class="card-body" style="height: 150px">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'avator.jpg' %}" class="rounded-circle" style="width:30px;height: 30px">
                        知了课堂
                    </div>
                    <div>发布时间 2024-07-29</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}