<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'base.css' %}"/>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
</head>
<body>

<header class="p-3 text-bg-danger border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-white" placeholder="搜索..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-warning">注册</button>
            </div>
        </div>
    </div>
</header>

<main class="container bg-white p-3 rounded">
    <h1>Django课程详情</h1>
    <hr>

    <div class="mt-2">
        <img src="{% static 'avator.jpg' %}" class="rounded-circle" style="width:30px;height: 30px">
        <span class="ms-2">Bosch</span>
        <span class="ms-2">于</span>
        <span class="ms-2">2024-07-29发布</span>
    </div>
    <hr>
    <div class="py-2">
        这是博客详情
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论:10条</h3>
        <form action="" method="post">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论"/>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary mt-2">Primary</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-3">
                <div class="d-flex justify-content-between text-body-secondary">
                        <div class="base_info">
                            <img src="{% static 'avator.jpg' %}" class="rounded-circle" style="width:40px;height: 40px">
                            <span class="ms-2">jay</span>
                        </div>
                        <div class="create_time" style="line-height: 40px">
                            2024年7月29日 15:30:50
                        </div>
                </div>
                <div class="mt-2">这是评论的内容</div>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between text-body-secondary">
                        <div class="base_info">
                            <img src="{% static 'avator.jpg' %}" class="rounded-circle" style="width:40px;height: 40px">
                            <span class="ms-2">jay</span>
                        </div>
                        <div class="create_time" style="line-height: 40px">
                            2024年7月29日 15:30:50
                        </div>
                </div>
                <div class="mt-2">这是评论的内容</div>
            </li>
        </ul>
    </div>
</main>


</body>
</html>